test-scraping-methods/
notebooks/.ipynb_checkpoints
notebooks/test
notebooks/test-pywebcopy
notebooks/tmp
notebooks/cache
wayback-scrape/
*.mhtml
notebooks/chromedriver
*.html
*.jpg
*.png
*.zip
*.json
.idea
*.html
*.css
*.csv
*.pkl
*.jsonl

scripts-homepage-data/page_exclusions
scripts-homepage-data/tmp/
scripts-homepage-data/tmp*
data/
scripts-homepage-data/scrape_articles_gcf/gcf_auth.txt