test-scraping-methods/
notebooks/.ipynb_checkpoints
notebooks/test
notebooks/test-pywebcopy
notebooks/tmp
notebooks/cache
wayback-scrape/
*.mhtml
notebooks/chromedriver
*.html
*.jpg
*.png
*.zip
*.json
.idea
*.html
*.css

scripts/page_exclusions
scripts/tmp/
data/
scripts/scrape_articles_gcf/gcf_auth.txt